$min-width: 800px;
$max-width: 800px;

$nav-li-margin: 20px;
$nav-transition-time: 0.2s;

$ham-width: 32px;
$ham-height: 17px;
$ham-item-height: 2px;
$ham-item-color: black;
$ham-transition-time: 0.2s;
$ham-transform-px: 18px;
$ham-margin-top: 30px;
$ham-margin-right: 30px;

$main-margin-horizontal: 8px;
$main-margin-top: 72px;
$main-header-height: auto;
$main-amounts-height: 1fr;
$main-button-height: 48px;
$main-comment-height: auto;

$main-header-bcg-color:#214895;
$main-header-bcg-color-r:#5c7c16;
$expense-bcg-color:#eff1f6;
$comment-bcg-color: #eff3fc;
$nav-mobile-bcg-color: #E0CB1B;
$nav-important-color: #214895;
$main-bcg-color: white;
$popup-color: #f7f5e4;
$expense-delete-wrapper-color: rgba(0, 0, 0, 0.349);
$submit-btn-color: #214895;
$cancel-btn-color: rgb(136, 136, 136);
$border-color: rgba(0, 0, 0, 0.303);
$about-bcg-color: rgb(31, 16, 46);

$font-size-s: 0.85rem;
$font-size-sm: 1.1rem;
$font-size-m: 1.2rem;
$font-size-l: 1.4rem;
$font-size-xl: 1.6rem;