

.about{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.792);
  background-color: blue;
  z-index: 5;


  &__close{
    position: absolute;
    top: 20px;
    right: 20px;
    background-image: url('../../../public/cancel.svg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 30px;
    height: 30px;
    cursor: pointer;
  }
}